:root {
  --dark: #4f6d7a;
  --medblue: #c0d6df;
  --lightblue: #dbe9ee;
  --purpblue: #4a6fa5;
  --darkblue: #166088;
}
body {
  height: 100vh;
  background-color: var(--medblue);
}
h2 {
  color: var(--purpblue);
}

#header {
  display: flex;
  justify-content: center;
  background-color: var(--dark);
  color: var(--medblue);
  font-size: 2em;
  padding: 10px;
  margin: 50px;
}

#citySearch {
  padding: 10px;
  border: var(--dark) 1px solid;
}

#cityHistory {
margin: 10px;
  padding: 10px;
  border: var(--dark) 1px solid;
}
#current {
  padding: 10px;
  margin: 10px;
  border: var(--dark) 3px solid;
}

#fiveDay {
  padding: 10px;
  margin: 10px;
  border: var(--dark) 3px solid;
}

#history li {
text-align: center;
cursor: pointer;
list-style-type: none;
border: grey solid 3px;
color: white;
background-color: var(--darkblue);
border-radius: 25px;
margin: 10px;
}

.card{
    background-color: var(--darkblue);
    color: white;
}